@using Microsoft.AspNetCore.Components.Authorization
@using frontend.Layout

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(RoleBasedLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(RoleBasedLayout)">
                <p>Oj! Sidan kunde inte hittas.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
